[global]
DEBUG = False
LOGFILE = /var/log/mqtt-zabbix.log
MQTT_HOST = localhost
MQTT_PORT = 1883
MQTT_USER = <user>
MQTT_PASSWD = <passwd>
MQTT_TOPIC = house/#
KEYFILE = /root/mqtt-zabbix/keys.csv
KEYHOST = house
ZABBIX_SERVER = localhost
ZABBIX_PORT = 10051
DISCOVERY_PERIOD = 300
