[global]
DEBUG = False
LOGFILE = /var/log/mqtt-zabbix.log

KEY_FILE = /root/mqtt-zabbix/keys.csv
ZABBIX_SERVER = localhost
ZABBIX_PORT = 10051
DISCOVERY_PERIOD = 300

[mqtt]
HOST = localhost
PORT = 1883
CLIENT = mqtt-zabbix
USER =  <user>
PASSWD = <passwd>
TOPIC_SUBS = house/#
